<html>
    <a href="/users/<%= session[:userid]%>">User</a>
    <% @secrets.each do |secret| %>
    
    <p><%= secret.content %></p>
    <p><%= secret.users.length%> likes</p>
    <% unless @secrets_liked_ids.include? secret.id%>

    <form action="/secret/like/<%=secret.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Like">
    </form>

    <%else%>
        <form action="/secret/unlike/<%=secret.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Unlike">
        </form>
    <% end %>
    <% if current_user == secret.user %>
      
      <form action="/secret/delete/<%=secret.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Secret">
    </form>
    <% end %>
    <% end %>

</html>
